/*--------------
                -   
     General    -
                -
--------------*/
*,html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.active{
    padding: .5rem 1rem;
    color: #ddd;
    border-radius: 25px;
}

a{
    text-decoration: none;
}
.content{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*--------------
                -   
     Fuentes    -
                -
--------------*/


@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/font/BebasNeue-Regular.otf') format('opentype'),
         url('./assets/font/BebasNeue-Regular.ttf') format('truetype');
  }

/*--------------
                -   
       NAV      -
                -
--------------*/

nav{
    width: -webkit-fill-available;
    background-color: #000;
    border-bottom: .3rem solid #257be5;
}
.ulNav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.titleNetFlix{
    font-family: 'BebasNeue', sans-serif;
    font-size: 2rem;
    
}

.newVideo a{
    color: #ddd;
    border: 1px solid #ddd;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .5s ease;
}
.newVideo a:hover{
    border: none;
    background-color: #ddd;
    color: #257be5;
    transition: all .5s ease;
}
.titleNetFlix a{
    color: #257be5;
}

/*--------------
                -   
    Sidebar     -
                -
--------------*/

.sidebar{
    height: 70vh;
    padding: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #1e1b53;
}

.data_sidebar{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    gap: 1rem; 
    color: #ddd;
}
.data_sidebar button{
    width: fit-content;
    padding: .5rem .7rem;
    font-size: 2.5rem;
    background-color: #6bd1ff;
    color: #ddd;
    border: none;
    border-radius: 5px;
}
.data_sidebar p{
    max-width: 35rem;
}
.data_sidebar h2{
    font-weight: 100;
    font-size: 2.5rem;
}