/*--------------
                -   
     Fuentes    -
                -
--------------*/


@font-face {
    font-family: 'BebasNeue';
    src: url('./assets/font/BebasNeue-Regular.otf') format('opentype'),
         url('./assets/font/BebasNeue-Regular.ttf') format('truetype');
  }
/*--------------
                -   
     General    -
                -
--------------*/
*,html,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ddd;
}
.active{
    padding: .5rem 1rem;
    color: #ddd;
    border-radius: 25px;
}
.actives{
    display: none;
}
a{
    text-decoration: none;
}
.content{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h2{
    font-family: 'BebasNeue';
    letter-spacing: .2rem;
    font-weight: 100;
}


/*--------------
                -   
       NAV      -
                -
--------------*/

nav{
    width: -webkit-fill-available;
    background-color: #000;
    border-bottom: .3rem solid #257be5;
}
.ulNav{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.titleNetFlix{
    font-family: 'BebasNeue', sans-serif;
    font-size: 2rem;
    
}

.newVideo a{
    color: #ddd;
    border: 1px solid #ddd;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .5s ease;
}
.newVideo a:hover{
    border: none;
    background-color: #ddd;
    color: #257be5;
    transition: all .5s ease;
}
.titleNetFlix a{
    color: #257be5;
}

/*--------------
                -   
    Sidebar     -
                -
--------------*/

.sidebar{
    height: 70vh;
    padding: 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    background-color: #1e1b53;
}

.data_sidebar{
    display: grid;
    grid-template-rows: 40% 20% 40%;
    gap: 1rem; 
    color: #ddd;
}
.data_sidebar button{
    width: fit-content;
    padding: .5rem .7rem;
    font-size: 2.5rem;
    background-color: #6bd1ff;
    color: #ddd;
    border: none;
    border-radius: 5px;
}
.data_sidebar p{
    max-width: 35rem;
}
.data_sidebar h2{
    font-weight: 100;
    font-size: 2.5rem;
}
/*--------------
                -   
    videos      -
                -
--------------*/

.videos_container{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 1rem;
    padding: 1rem;
}
.card_video{
    border: 1px solid #444;
    border-radius: 2px;
    padding: 1rem;
    margin: 1rem;
    height: 200px;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.control-dots{
    display: none;
}

/*--------------
                -   
  Create videos -
                -
--------------*/

.create_video_container{
    height: 100vh;
    background-color: #000;
    display: grid;
    place-content: center;
    justify-items: center;
}

/*--------------
                -   
    home        -
                -
--------------*/
.home_container{
    background-color: #000;
}

/*--------------
                -   
    footer      -
                -
--------------*/

.footer{
    width: -webkit-fill-available;
    background-color: #000;
    border-top: .3rem solid #257be5;
    color: #257be5;
    height: 12vh;
    display: flex;
    place-items: center;
    place-content: center;
    font-size: 3rem;
    font-family: 'BebasNeue';
}
.spans{
    display: flex;
    align-items: flex-start;
}
.footer span{
    display: flex;
    color: #257be5;
}
.f2,.f8{
    font-size: 2.8rem;
}
.f3,.f7{
    font-size: 2.7rem;
}
.f4,.f6{
    font-size: 2.6rem;
}
.f5,.f6{
    font-size: 2.5rem;
}